{% load i18n static wagtailcore_tags wagtailuserbar wagtailimages_tags %}
<footer class="" role="contentinfo">
    <div class="footer border-t border-t-gray-300 mx-7 py-4 flex flex-col md:flex-row justify-evenly">
    <div class="flex-auto mx-1">
        <a href="mailto:contact@djangonaut.space">Contact Us</a>
    </div>
    <div class="flex grow gap-4 mx-1">
        <div class="h-14 rounded-full bg-gradient-to-t">
        <a class="outline-link twitter " href="https://twitter.com/djangonautspace" target="_blank" aria-label="Twitter">
            <i class="fa-brands fa-twitter" style="color:#5c0287;" aria-hidden="true"></i>
        </a>
            </div>
        <a rel="me" class="outline-link mastodon" href="https://indieweb.social/@djangonaut" target="_blank" aria-label="Mastodon">
            <i class="fa-brands fa-mastodon" style="color:#5c0287;" aria-hidden="true"></i>
        </a>
        <a class="outline-link github" href="https://github.com/djangonaut-space/" target="_blank" aria-label="GitHub">
            <i class="fa-brands fa-github" style="color:#5c0287;" aria-hidden="true"></i>
        </a>
        <a class="outline-link linkedin" href="https://www.linkedin.com/company/djangonaut-space/" target="_blank" aria-label="LinkedIn">
            <i class="fa-brands fa-linkedin" style="color:#5c0287;" aria-hidden="true"></i>
        </a>
        <a class="outline-link youtube" href="https://www.youtube.com/@djangonautspace" target="_blank" aria-label="YouTube">
            <i class="fa-brands fa-youtube" style="color:#5c0287;" aria-hidden="true"></i>
        </a>
        <a class="outline-link bluesky" href="https://bsky.app/profile/djangonaut.space" target="_blank" aria-label="Bluesky">
            <i class="fa-brands fa-bluesky" style="color:#5c0287;" aria-hidden="true" ></i>
        </a>
    </div>
    <div class="flex-auto mx-1">
        <a target="_blank"  href="https://github.com/djangonaut-space/program/blob/main/README.md">
            {% trans "Program Documentation" %}
        </a>
    </div>
    <div class="flex-auto mx-1">
        <a target="_blank"  href="https://github.com/djangonaut-space/program/blob/main/CODE_OF_CONDUCT.md">Code of Conduct</a>
    </div>
</div>
</footer>
