{% load i18n static wagtailcore_tags wagtailuserbar wagtailimages_tags %}
<div class="main">
<footer class="footer container-lg row justify-content-evenly" role="contentinfo">
    <div class="col col-3">
        <a href="mailto:contact@djangonaut.space">Contact us</a>
    </div>
    <div class="col col-3">
        <ul class="footer-ul">
            <li>
                <a target="_blank" href="https://twitter.com/djangonautspace">Twitter @DjangonautSpace</a>
            </li>
            <li>
                <a target="_blank" href="https://indieweb.social/@djangonaut">Mastodon @djangonaut@indieweb.social </a>
            </li>
            <li>
                <a target="_blank" href="https://youtube.com/@djangonautspace">YouTube @DjangonautSpace</a>
            </li>
        </ul>
    </div>
    <div class="col col- 3">
        <a target="_blank"  href="https://github.com/djangonaut-space/pilot-program">
            {% trans "Djangonaut Space Documentation" %}
        </a>
    </div>
    <div class="col col-3">
        <a target="_blank"  href="https://github.com/djangonaut-space/pilot-program/blob/main/CODE_OF_CONDUCT.md">Code of Conduct</a>
    </div>
</footer>
</div>
