{% if messages %}
    {% for message in messages %}
        <div class="my-2 mx-2 px-4 py-3 rounded relative border
            {% if 'error' in message.tags %}bg-red-100 border-red-400 text-red-700
            {% elif 'warning' in message.tags %}bg-orange-100 border-orange-400 text-orange-700
            {% elif 'success' in message.tags %}bg-green-100 border-green-500 text-green-700
            {% else %}bg-purple-100 border-purple-500 text-purple-700{% endif %}"
            role="alert">
            <div class="{{ message.tags }}">{{ message}}</div>
        </div>
    {% endfor %}
{% endif %}
