{% load i18n static wagtailcore_tags %}
<nav class="bg-white {% if 'Home' in page.title %}stars{% endif %}">
    <div class="mx-2 flex h-16 items-center gap-8 px-1 sm:px-4 lg:px-2">
        <a class="block text-teal-600" href="/">
            <img alt="Djangonaut Space" class="nav-brand-icon" src="{% static 'img/main-purple-transparent.png' %}"/>
        </a>

        <div class="flex flex-1 items-center justify-end md:justify-between">
            <nav aria-label="Global" class="hidden md:block">
                <ul class="flex items-center gap-8">
                    <li>
                        <a class="outline-link text-gray-700 transition hover:text-ds-purple cursor-pointer" target="_blank" href="https://github.com/djangonaut-space/program/blob/main/README.md">
                            {% trans "Program Documentation" %}
                        </a>
                    </li>
                    <li>
                        <a class="outline-link text-gray-700 transition hover:text-ds-purple cursor-pointer"  href="{% url 'event_list' %}">
                            {% trans "Events" %}
                        </a>
                    </li>
                    <li>
                        <a class="outline-link text-gray-700 transition hover:text-ds-purple cursor-pointer"  href="{% url 'session_list' %}">
                            {% trans "Sessions" %}
                        </a>
                    </li>
                    <li>
                        <a class="outline-link text-gray-700 transition hover:text-ds-purple cursor-pointer"  href="{% url 'opportunities' %}">
                            {% trans "Contribute" %}
                        </a>
                    </li>
                    <li>
                        <a class="outline-link text-gray-700 transition hover:text-ds-purple cursor-pointer"  href="{% slugurl 'comms' %}">
                            {% trans "Blog" %}
                        </a>
                    </li>
                     <li>
                        <a class="outline-link text-gray-700 transition hover:text-ds-purple cursor-pointer"  href="https://opencollective.com/djangonaut-space">
                           <i class="fa-regular fa-heart text-ds-purple"></i> {% trans "Donate" %}
                        </a>
                    </li>
                </ul>
            </nav>

            {% if not user.is_authenticated %}
            <ul class="flex items-center gap-8 ">
                <li>
                    <a
                        class="outline-link text-gray-700 transition hover:text-ds-purple cursor-pointer"
                        href="https://buttondown.com/djangonaut-space"
                        target="_blank"
                    >
                      {% trans "Subscribe" %}
                    </a>
                </li>
                {% if "login" not in request.path %}
                <li>
                    <a class="outline-link text-gray-700 transition hover:text-ds-purple cursor-pointer" href="{% url 'login' %}?next_page={{request.path}}">
                      {% trans "Login" %}
                    </a>
                </li>
                {% endif %}
                {% if "signup" not in request.path %}
                <li>
                <a class="outline-link text-gray-700 transition hover:text-ds-purple cursor-pointer" href="{% url 'signup' %}">
                      {% trans "Sign Up" %}
                    </a>
                </li>
                {% endif %}
            </ul>
            {% else %}
             <div class="relative hidden md:block" x-data="{ showDropdown: false }">
                <button type="button" class="block bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" @click="showDropdown = !showDropdown">
                  <span class="sr-only">Open user menu</span>
                  <img class="w-8 h-8 rounded-full" src={%  if user.profile.bio_image %}"{{ user.profile.bio_image }}"{% else %}"{% static 'img/favicon.png' %}"{% endif %} alt="Profile photo">
                </button>
                <div x-cloak x-show="showDropdown">
                  <ul class="py-2 absolute right-0 py-2 mt-2 bg-gray-100 rounded-md shadow-xl w-44" aria-labelledby="user-menu-button">
                    <li class="p-2">
                      <a href="{% url 'profile' %}" class="block outline-link text-gray-500 transition hover:text-ds-purple">
                          {% trans "Profile" %}
                      </a>
                    </li>
                    <li class="p-2">
                      <a href="{% url 'password_change' %}" class="block outline-link text-gray-500 transition hover:text-ds-purple">
                          {% trans "Update password" %}
                      </a>
                    </li>
                    <li class="p-2">
                      <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="block outline-link text-gray-500 transition hover:text-ds-purple">
                          {% trans "Logout" %}
                        </button>
                      </form>
                    </li>
                  </ul>
                </div>
             </div>
            {% endif %}
            <div class="relative block md:hidden" x-data="{ showDropdown: false }">
                <button
                    class="block rounded bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-600/75 md:hidden"
                    @click="showDropdown = !showDropdown"
                >
                    <span class="sr-only">Toggle menu</span>
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                    >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
                <div x-cloak x-show="showDropdown">
                    <ul class="absolute right-0 py-2 mt-2 bg-gray-100 rounded-md shadow-xl w-44">
                        <li class="p-2">
                            <a class="block outline-link text-gray-500 transition hover:text-ds-purple" target="_blank" href="https://github.com/djangonaut-space/program/blob/main/README.md">
                                {% trans "Program Documentation" %}
                            </a>
                        </li>

                        <li class="p-2">
                            <a class="block outline-link text-gray-500 transition hover:text-ds-purple"  href="{% url 'event_list' %}">
                                {% trans "Events" %}
                            </a>
                        </li>

                        <li class="p-2">
                            <a class="block outline-link text-gray-500 transition hover:text-ds-purple"  href="{% url 'session_list' %}">
                                {% trans "Sessions" %}
                            </a>
                        </li>
                        <li class="p-2">
                            <a class="block outline-link text-gray-500 transition hover:text-ds-purple"  href="{% url "opportunities" %}">
                                {% trans "Contribute" %}
                            </a>
                        </li>
                        <li class="p-2">
                            <a class="block outline-link text-gray-500 transition hover:text-ds-purple"  href="{% slugurl "comms" %}">
                                {% trans "Blog" %}
                            </a>
                        </li>
                        <li class="p-2">
                            <a class="block outline-link text-gray-500 transition hover:text-ds-purple"  href="https://opencollective.com/djangonaut-space">
                                 {% trans "Donate" %} <i class="fa-regular fa-heart text-ds-purple"></i>
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="p-2">
                            <a class="block outline-link text-gray-500 transition hover:text-ds-purple"  href="{% url 'profile' %}">
                                {% trans "Profile" %}
                            </a>
                        </li>
                        <li class="p-2">
                            <a class="block outline-link text-gray-500 transition hover:text-ds-purple"  href="{% url 'password_change' %}">
                                {% trans "Update password" %}
                            </a>
                        </li>
                        <li class="p-2">
                            <form action="{% url 'logout' %}" method="post">
                              {% csrf_token %}
                              <button type="submit" class="block outline-link text-gray-500 transition hover:text-ds-purple">{% trans "Logout" %}</button>
                            </form>
                        </li>
                        {%  else %}
                        <li class="p-2">
                            <a class="block outline-link text-gray-500 transition hover:text-ds-purple"  href="{% url 'login'%}?next_page={{request.path}}">
                                {% trans "Login" %}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
