{% load i18n static wagtailcore_tags wagtailuserbar wagtailimages_tags %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
        <img src="{% static 'img/rocket.png' %}" width="50rem"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="https://github.com/dawnwages/wagtail-indymeet/wiki">
                {% trans "Program Wiki" %}
            </a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% trans "How to Join" %}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Become a Contributor</a></li>
                <li><a class="dropdown-item" href="#">Become a Subject Matter Expert Coach</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Interested in Speaking to the Cadre?</a></li>
                <li><a class="dropdown-item" href="#">Looking for Python and Django Talent?</a></li>
            </ul>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Join Spring 2023 Session</a>
            </li>
        </ul>
        {% if user.is_authenticated and user.is_active or request.is_preview %}
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="event-team-member-icon" src="https://images.unsplash.com/photo-1608190003443-86b2636f2fe3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80">
                    <div>{{ user }}</div>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                    <li><a class="dropdown-item" href="#"># Registered Events</a></li>
                    <li><hr class="dropdown-divider"></li>
                    {# If user is participating in an active session, else "Sign up for session" #}
                    <li><a class="dropdown-item" href="#">You're participating in [SESSION NAME] </a></li>
                    <li><a class="dropdown-item" href="#">Next Session begins [DATE] <a href="#">register by [DATE] to sign up</a></a></li>
                </ul>
            </li>
        </ul>
        {% else %}
        <a class="btn btn-outline" href="{% url 'login' %}" type="submit">Sign In</a>
        {% endif %}
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </div>
    </div>
</nav>