{% extends "email/base.html" %}

{% block preheader %}Application Updated Successfully{% endblock preheader %}

{% block greeting %}
  <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">Hello {{ user.first_name }} 👋</p>
{% endblock greeting %}

{% block before_cta %}
  <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
    You have successfully updated your application for <strong>{{ session.title }}</strong>. ✨
  </p>

  <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
    You can view and edit your responses at any time by clicking the button below:
  </p>
{% endblock before_cta %}

{% block cta_button_text %}View Your Application{% endblock cta_button_text %}

{% block after_cta %}
  <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
    <strong>Don't forget!</strong> Please be sure to set your availability at <a href="{{ availability.get_full_url }}" style="color: #5c0287;">{{ availability.get_full_url }}</a> too!
  </p>

  <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0;">
    Thank you,<br>
    Djangonaut Space
  </p>
{% endblock after_cta %}
