{% extends "base.html" %}
{% load i18n wagtailcore_tags bootstrap3 static %}




{% block content %}
<main class="section main-center">
{% if user.is_authenticated and user.is_active or request.is_preview %}
    <div>Thanks for signing up!</div>
{% else %}
    {% if form %}
        <form action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit">
            {% bootstrap_form_errors form layout='inline' %}
        </form>
    {% else %}
        <div>You can fill in the from only one time.</div>
    {% endif %}
{% endif %}
</main>
{% endblock %}
