version: 2
updates:
  # Maintain dependencies for Python
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    groups:
      python-dependencies:
        patterns:
          - "*"

  # Maintain dependencies for NPM / tailwind generation
  - package-ecosystem: "npm"
    directory: "theme/static_src/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7
    groups:
      npm-dependencies:
        patterns:
          - "*"

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    # Workflow files stored in the default location of `.github/workflows`.
    # (You don't need to specify `/.github/workflows` for `directory`.
    # You can use `directory: "/"`.)
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 5
    groups:
      github-actions:
        patterns:
          - "*"
