/* ---------------------------------------------------------------------
 NAVIGATION
----------------------------------------------------------------------*/
.nav-link {
    padding: 0 0;
}

.nav-icon {
    height: 1.5rem;
    width: 1.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.nav-brand-icon {
    height: 1.5rem;
    width: 1.5rem;
    object-fit: cover;
}

.nav-item {
    font-size: 13px;
    text-transform: uppercase;
}

.form-control {
    font-size: 13px;
}

.nav-btn {
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 10px 0 0;
}

.d-flex {
    padding: 0 0;
    margin: 0 0;
}

.nav-wrapper {
    height: 50px;
    width: 100%; 
}

.badge {
    margin: 1px;
}

body {
    font-size: 13px;
}