/* ---------------------------------------------------------------------
 NAVIGATION
----------------------------------------------------------------------*/
.nav-icon {
    height: 2.5rem;
    width: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.img-responsive>img {
    width:100%;
    margin-top: 15px;
}

article.row {
    margin-left: 0;
}