/* ---------------------------------------------------------------------
 NAVIGATION
----------------------------------------------------------------------*/
.nav-link {
    padding: 0 0;
}

.nav-icon {
    height: 3em;
    width: 3em;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.img-responsive>img {
    width:100%;
    margin-top: 15px;
}

article.row {
    margin-left: 0;
}
    padding: 0;
}

.acct-text {
    margin: auto;
    padding-right: 2rem;
}

.acct::after {
    display: none;
}

.nav-brand-icon {
    height: 1.5rem;
    width: 1.5rem;
    object-fit: cover;
}

.nav-item {
    font-size: 13px;
    text-transform: uppercase;
}

.form-control {
    font-size: 13px;
}

.nav-btn {
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 10px 0 0;
}

.d-flex {
    padding: 0 0;
    margin: 0 0;
}

.nav-wrapper {
    height: 50px;
    width: 100%; 
}

.dropdown-menu {
    font-size: 13px;
}

.acct {
    display: inline-flex;
    display: -ms-inline-flexbox;
}

.badge {
    margin: 1px;
}

body {
    font-size: 13px;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-family: 'Fraunces', serif;
}
