/* ---------------------------------------------------------------------
 REGISTRATION - LOGIN LOG OUT
----------------------------------------------------------------------*/
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.control-label {
    font-weight: 700;
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 5px;
}
