{% extends "base.html" %}
{% load i18n wagtailcore_tags static %}
{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.2/index.global.min.js"></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          events: [
                {% for event in events %}
                {
                    title: "{{ event.title|safe }}",
                    start: '{{ event.start_time|date:"Y-m-d H:i" }}',
                    end: '{{ event.end_time|date:"Y-m-d H:i" }}',
                    id: '{{ event.id }}',
                    description: '{{ event.description }}',
                    url: "{{ event.get_absolute_url }}",
                    {% if event.status == 'Canceled' %}
                        backgroundColor: '#d3d3d3',
                    {% elif event.status == 'Rescheduled' %}
                        backgroundColor: 'orange',
                    {% endif %}
                },
                {% endfor %}

            ],
        });
        calendar.render();
     });

    </script>

    <main class="main main-center">
        <div id='calendar'></div>
    </div>

{% endblock %}