{% extends "base.html" %}
{% load i18n wagtailcore_tags static %}




{% block content %}
<main class="section main-center">
    <a href="/">
        <img src="{% static 'img/temp_logo.png' %}" />
    </a>
</main>
<div class="container main my-3">
    <a href="{% url 'calendar' %}">Back to Calendar</a>
<div class="row my-3">
    <div class="col">
        <h1 class="my-3">{{ event.title }}</h1>
        <hr>
        {% if event.accepting_rsvps %}
            {% if user.is_authenticated %}
                {% if user.profile.accepted_coc %}
                    {% if user not in event.rsvped_members.all %}
                        <a href="{{ event.get_absolute_url }}?rsvp=true" class="btn btn-primary">RSVP</a>
                    {% else %}
                        <a href="{{ event.get_absolute_url }}?rsvp=false" class="btn btn-danger">Cancel RSVP</a>
                        <p class="text-muted">You have already RSVPed</p>

                    {% endif %}
                {% else %}
                    <a class="btn btn-primary disabled" disabled >RSVP</a>
                    <p class="text-muted">Before RSVPing please accept the CoC on your <a href="{% url 'profile' %}">Account Page</a></p>
                {% endif %}
            {% else %}
                <a href="{% url 'signup' %}" class="btn btn-primary">Register</a>
                <p class="text-muted">You need to register to RSVP for this event</p>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col">
        <p><strong>Start:</strong> {{ event.start_time|date:"M d, Y H:i" }}</p>
        <p><strong>End:</strong> {{ event.end_time|date:"M d, Y H:i" }}</p>
        <p><strong>Location:</strong> {{ event.location }}</p>
        <p><strong>Status:</strong> {{ event.status }}</p>
        <p><strong>Categories:</strong>{% for cat in event.categories.all %} {{ cat }} {% endfor %}</p>
        <br>

        <p>{{ event.description|linebreaksbr|urlizetrunc:25 }}</p>
        <br>
        <h3><strong>Speakers:</strong></h3>

         {% for speaker in event.speakers.all %}

        <div class="row">
            <h4 class="my-3">{{ speaker.get_full_name }}</h4>
            <div class="col-3">
                {% if speaker.profile and speaker.profile.bio_image %}
                <img class="img-thumbnail img-responsive" src="{{ speaker.profile.bio_image.url }}">
                {% endif %}
            </div>
            <div class="col-8">
                <p>{{ speaker.profile.bio }}</p>
                <br>
                {% if speaker.profile.links.exists %}
                <p><strong>Contacts:</strong></p>
                {% for link in speaker.profile.links.all %}
                    <a href="{{ link.url }}">{{ link.name }}</a>
                {% endfor %}
            {% endif %}
            </div>
        </div>

        <hr>
        {% endfor %}


    </div>
  </div>
</div>
{% endblock content %}
