{% extends "base.html" %}
{% load i18n wagtailcore_tags static tz %}

{% block title %}{{ event.title }} | Djangonaut Space{% endblock %}
{% block meta_title %}{{ event.title }} | Djangonaut Space{% endblock %}
{% block meta_description %}{{ event.description }}{% endblock %}
{% block social_share %}
    <meta property="og:description" content="{{ event.description }}">
    <meta property="og:image" content="{% static 'img/main-white-purple-background.png' %}">
    <meta property="og:title" content="{{ event.title }} | Djangonaut Space">
{% endblock social_share %}

{% block content %}
<main class="section my-3 mx-5">
  <div class="section-container">
  <h1 class="text-5xl my-3">{{ event.title }}</h1>
    <div class="row">
      <div class="col">
          {% localtime on %}
          <p><strong>Start:</strong> {{ event.start_time|date:"M d, Y H:i e" }}</p>
          <p><strong>End:</strong> {{ event.end_time|date:"M d, Y H:i e" }}</p>
          {% endlocaltime %}
          <p><strong>Location:</strong> {{ event.location|urlizetrunc:25 }}</p>
          {% if event.video_link %}
            <p><strong>Video:</strong> <a href="{{ event.video_link }}" target="_blank">Watch on YouTube</a></p>
          {% endif %}
          <br>
          <p>{{ event.description|linebreaksbr|urlizetrunc:25 }}</p>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
