{% extends "base.html" %}
{% load i18n wagtailcore_tags static tz %}

{% block title %}{{ event.title }} | Djangonaut Space{% endblock %}
{% block meta_title %}{{ event.title }} | Djangonaut Space{% endblock %}
{% block meta_description %}{{ event.description }}{% endblock %}
{% block social_share %}
    <meta property="og:description" content="{{ event.description }}">
    <meta property="og:image" content="{% static 'img/main-white-purple-background.png' %}">
    <meta property="og:title" content="{{ event.title }} | Djangonaut Space">
{% endblock social_share %}

{% block content %}
<main class="section my-3 mx-5">
  <div class="section-container">
  <h1 class="text-5xl my-3">{{ event.title }}</h1>
    {% if event.cover_image %}
    <div class="mb-4">
      <img src="{{ event.cover_image.url }}" alt="" class="w-full max-w-2xl rounded">
      {% if event.cover_image_caption %}
      <p class="mt-1 text-sm text-gray-500">{{ event.cover_image_caption }}</p>
      {% endif %}
    </div>
    {% endif %}
    <div class="row">
      <div class="col">
          {% localtime on %}
          <p><strong>Start:</strong> {{ event.start_time|date:"M d, Y H:i e" }}</p>
          <p><strong>End:</strong> {{ event.end_time|date:"M d, Y H:i e" }}</p>
          {% endlocaltime %}
          {% if event.is_future %}
            {% if event.zoom_link %}
              <p><strong>Join:</strong> <a href="{{ event.zoom_link }}" target="_blank">Join Zoom Meeting</a></p>
            {% endif %}
          {% else %}
            {% if event.video_link %}
              <p><strong>Recording:</strong> <a href="{{ event.video_link }}" target="_blank">Watch Recording</a></p>
            {% endif %}
          {% endif %}
          <br>
          <p>{{ event.description|linebreaksbr|urlizetrunc:25 }}</p>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
