{% extends "base.html" %}
{% load i18n wagtailcore_tags static %}
{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<main class="main main-center">
    <a href="/">
        <img src="{% static 'img/temp_logo.png' %}" />    
    </a>
</main>
{% include 'home/includes/welcome_page.html' %}
{% include 'home/includes/events_upcoming.html' %}
{% include 'home/includes/events_past.html' %}
{% endblock content %}
