{% extends "base_landing.html" %}
{% load i18n wagtailcore_tags static %}
{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block body_class %}landing{% endblock %}
{% block content %}
<div class="landing-page">
    <a href="/">
        <img src="{% static 'img/logo-white.png' %}" />    
    </a>
    <h1 class="p-1">Ready to start to contribute?</h1>
    <div class="d-flex links">
        <a href="https://github.com/djangonaut-space/pilot-program/blob/main/README.md">Program</a>
        <a href="https://github.com/djangonaut-space/pilot-program/blob/main/CODE_OF_CONDUCT.md">Code of Conduct</a>
    </div>
    {% comment %} <form class="d-flex form-row">
        <input type="email" name="email" aria-label="email" placeholder="example@email.com">
        <button type="submit" class="btn btn-outline-primary">Register</button>
    </form> {% endcomment %}
</div>
<div id="particules-js"></div>
{% endblock content %}
