DATABASE_URL=postgres://djangonaut:djangonaut@db:5432/djangonaut
POSTGRES_USER=djangonaut
POSTGRES_PASSWORD=djangonaut
POSTGRES_DB=djangonaut
SECRET_KEY=<SECRETKEY>
ENVIRONMENT='production'
RECAPTCHA_PUBLIC_KEY='dummy_value'
RECAPTCHA_PRIVATE_KEY='dummy_value'
# Only set to a non-empty string value if you want it enabled
# The toolbar should not be used in a remote environment
ENABLE_TOOLBAR=""
DJANGO_SETTINGS_MODULE="indymeet.settings.dev"
