DATABASE='djangonaut-space'
SECRET_KEY=<SECRETKEY>
RECAPTCHA_PUBLIC_KEY='dummy_value'
RECAPTCHA_PRIVATE_KEY='dummy_value'
# Only set to a non-empty string value if you want it enabled
# The toolbar should not be used in a remote environment
ENABLE_TOOLBAR=""
