default_language_version:
  python: python3.11

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-json
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/rstcheck/rstcheck
  rev: v6.2.5
  hooks:
  - id: rstcheck
    additional_dependencies:
    - sphinx==8.1.3
    - tomli==2.1.0
- repo: https://github.com/sphinx-contrib/sphinx-lint
  rev: v1.0.0
  hooks:
  - id: sphinx-lint
- repo: https://github.com/asottile/pyupgrade
  rev: v3.20.0
  hooks:
  - id: pyupgrade
    args: [--py311-plus]
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.28.0
  hooks:
  - id: django-upgrade
    args: [--target-version, '4.2']
- repo: https://github.com/psf/black
  rev: 25.9.0
  hooks:
  - id: black
- repo: https://github.com/adamchainz/blacken-docs
  rev: 1.20.0
  hooks:
  - id: blacken-docs
    additional_dependencies:
    - black==24.10.0
- repo: https://github.com/PyCQA/flake8
  rev: 7.3.0
  hooks:
  - id: flake8
    additional_dependencies:
    - flake8-bugbear
    - flake8-comprehensions
    - flake8-tidy-imports
    - flake8-typing-imports
