# TODO: specify location of requirements file for Oryx Azure deploy
# This file is a duplicate of requirements/requirements.txt used for deploying to Azure.

Django>=4.1,<4.2
wagtail>=4.1,<4.2
django-bootstrap5==22.2
django-storages
psycopg2-binary
whitenoise
python-dotenv
puput
django-recaptcha==3.0.*