# TODO: specify location of requirements file for Oryx Azure deploy
# This file is a duplicate of requirements/requirements.txt used for deploying to Azure.

Django==4.1.13
wagtail==4.1.9
django-bootstrap5==22.2
django-storages
django-storages[azure]
psycopg2-binary
whitenoise
python-dotenv
puput==2.0.0
django-recaptcha==3.0.*
django-anymail==9.0
six==1.16.*
urllib3==1.26.6
psycopg2-binary
django-extensions
django-debug-toolbar