{% extends "emails/base.html" %}
{% block preheader %}Djangonaut Space - Application Open{% endblock preheader %}
{% block before_cta %}
  <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
      Exciting news! Applications have opened for '{{ title }}'!
  </p>
  <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
      This session runs from {{ start_date }} - {{ end_date }} and applications close {{ application_end_date }}.
  </p>
{% endblock before_cta %}
{% block cta_button_text %}Apply Now{% endblock cta_button_text %}
{% block after_cta %}
    <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
      More details can be found here:<a href="{{ detail_url }}">{{ detail_url }}</a>
    </p>
{% endblock after_cta %}
