/* ---------------------------------------------------------------------
 REGISTRATION - LOGIN LOG OUT
----------------------------------------------------------------------*/
.registration-form {
    width: 20rem;
    margin: auto;
}

.registration-logo {
    width: 100%;
}