@import "tailwindcss";
@config "../tailwind.config.js";

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Inter&display=swap');

@theme {
    --color-ds-purple: #5c0287;
    --color-primary: #5c0287;
}

@layer base {

    body {
        @apply font-inter;
    }

    h1 {
        @apply font-fraunces;
    }

    a {
        @apply underline text-ds-purple hover:text-purple-500 cursor-pointer;
        i {
            color: white;
        }
    }

    .button-secondary {
        @apply inline-block rounded-[40px] px-[32px] py-[13px] text-center text-white bg-gray-600 m-1 hover:bg-gray-700 hover:text-white no-underline;
    }

    .outline-link {
        @apply no-underline;
    }

    svg:not(:root) {
        overflow: hidden;
    }
}

@layer components {
    .action-button {
        @apply bg-ds-purple hover:bg-purple-500 text-white px-4 py-2 rounded font-medium transition-colors cursor-pointer;
    }
}

/*
    Custom styles below because we can't style the templates directly
    or because it's a nightmare with Tailwind :)
*/

/* ---------------------------------------------------------------------
 LANDING PAGE
----------------------------------------------------------------------*/

.landing {
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    color: white;
}

.landing-page-overlay::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(14, 16, 11, 0.00) 0%, rgba(14, 16, 11, 0.89) 50%);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.landing-page-overlay {
    position: fixed;
    bottom: 0px;
    left: 0px;
    content: "";
    width: 100%;
    height: 45%;
    background: url(/static/img/background.svg) no-repeat;
    background-size: cover;
    z-index: -2;
}

.landing-page-footer {

    align-items: center;



    padding: 10px 0;
    width: calc(100% - 4em);
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 2;
}


ul.links {
    @apply flex mt-3;
}

ul.links li {
    @apply mr-3 text-ds-purple;
}


/* ---------------------------------------------------------------------
 BLOG / WAGTAIL PAGES
----------------------------------------------------------------------*/

.blog-container {
    background-color: #f8f8f8;
    padding: 20px 40px;
    margin-bottom: 20px;

    p {
        color: var(--dark);
        margin: 0 0 1em 0;
    }
    /* Puput css overrides */
    a.blog_btn.continue, .links a {
        @apply underline text-ds-purple hover:text-purple-500 hover:underline cursor-pointer;
        i {
            color: white;
        }
    }
}

.section-container {
    @apply container mx-2 sm:mx-auto mt-12;
}

.social-item {
    @apply text-white text-center bg-primary w-[25px] h-[25px] mt-[5px] mr-[3px] rounded-full;
}
