{% extends "base.html" %}
{% load i18n wagtailcore_tags static %}
{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Events | Djangonaut Space{% endblock %}
{% block meta_title %}Events | Djangonaut Space{% endblock %}

{% block content %}
<main class="section">

    <div class="container-lg">
        <h3>Events</h3>
        <div class="row">
          <div class="col">
            <p>These events are open to the public and free to attend. We'd love to meet you, so come say hi!</p>
          </div>
        </div>
        <div class="row">
            <div class="col">
            {% if current_tag %}
                <p><a href="{% url 'event_list' %}">See all</a></p>
            {% endif %}
            </div>
        </div>
        <div class="g-2 g-lg-3 row row-cols-4 justify-content-evenly pt-4">

            {% for event in events %}
            {% include 'home/includes/event_card.html' %}
            {% endfor %}

        </div>
    </div>
</main>
{% endblock content %}
