{% extends "email/base.html" %}

{% block preheader %}Application Decision{% endblock preheader %}

{% block greeting %}
  <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">Hello 👋</p>
{% endblock greeting %}

{% block before_cta %}
  <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
    We sincerely appreciate the enthusiasm and motivation you demonstrated in your application to join Djangonaut Space and start on your contributing adventure. We received a remarkable <strong>{{ applicant_count }}</strong> applicants and only can accept <strong>{{ accepted_count }}</strong> of those, making the selection process incredibly challenging. After careful consideration, we regret to inform you that we cannot offer acceptance for your participation in <strong>{{ session.title }}</strong>.
  </p>

  <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
    We invite you to re-apply in a few months when the next session opens for applications. We do not have any specifics on that session.
  </p>

  <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
    Unfortunately we don't have the availability to respond with the exact reasons why folks were rejected. We'd still like to help you improve for next time! Here are some things for you to consider.
  </p>

  <ul style="font-family: Helvetica, sans-serif; font-size: 16px; margin: 0; margin-bottom: 16px; padding-left: 20px;">
    <li style="margin-bottom: 8px;"><strong>Complete Application:</strong> Be sure to complete the application in its entirety, including the Django Contribution Tutorial</li>
    <li style="margin-bottom: 8px;"><strong>Stand out:</strong> We have an average of 90 applicants per session, try to stand out</li>
    <li style="margin-bottom: 8px;"><strong>Community Connections:</strong> We favored people who have connections to the Django community over those that had none or few (join and participate on the Discord server and the forum)</li>
    <li style="margin-bottom: 8px;"><strong>Resilience Over Time:</strong> We favored people displaying resilience over a period of time (think weeks rather than a single day)</li>
    <li style="margin-bottom: 8px;"><strong>Django Experience:</strong> We favored folks who have some experience with Django over those with none</li>
    <li style="margin-bottom: 8px;"><strong>Authenticity:</strong> We favored answers that felt authentic rather than generated to match our ideals</li>
  </ul>
{% endblock before_cta %}

{% block cta_button %}{% endblock cta_button %}

{% block after_cta %}
  <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
    If you are feeling passionate and enthusiastic about contributing and connecting with the Django community but not sure where to start, we'd like to share some ideas: 🫸🫷
  </p>

  <ul style="font-family: Helvetica, sans-serif; font-size: 16px; margin: 0; margin-bottom: 16px; padding-left: 20px;">
    <li style="margin-bottom: 8px;"><strong>Django Discord:</strong> You can ask questions and connect with other folks in the django community and join live events, we even host some!</li>
    <li style="margin-bottom: 8px;"><strong>Contribute:</strong> You could also forge ahead to contribute to Django and ask questions of the folks in the Django server in #contributing-getting-started, people want to help! See the Django docs for more details: <a href="https://docs.djangoproject.com/en/dev/internals/contributing/" style="color: #5c0287;">https://docs.djangoproject.com/en/dev/internals/contributing/</a></li>
    <li style="margin-bottom: 8px;"><strong>Community:</strong> Host meetings, give talks at meetups or conferences, write blog posts, or organize Django Girls events.</li>
  </ul>

  <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
    There are many ways to contribute to the Django community and we hope that our inability to accept you into the program now will not deter you from continuing to be part of this wonderful Django community. 🤗
  </p>

  <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0;">
    Sincerely,<br>
    Djangonaut Space Organizers
  </p>
{% endblock after_cta %}
