{% load wagtailimages_tags %}

<figure class="block-person-quote">
    <div class="mt-3 prose prose-slate">
    <div class="flex flex-row">
        <div class="basis-1/4">{% image value.image fill-600x600-c50 %}</div>
        <div class="basis-3/4">
            <blockquote class="border-l-4 border-gray-400 pl-4">
                <p class="pl-4">{{ value.quote|safe }}</p>
                <figcaption>&mdash;{{ value.byline }}</figcaption>
            </blockquote>
        </div>
    </div>
    </div>
</figure>
