{% load static i18n wagtailcore_tags %}
{# Load the tag library #}
{% load django_bootstrap5 %}


{% block content %}
<div class="row event-team-member">
    <div class="col-2">
        <img class="event-team-member-icon" src="https://images.unsplash.com/photo-1608190003443-86b2636f2fe3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80">
        {# Photo by Kaylyn Mok on Unsplash #}
        {# https://unsplash.com/photos/K798U9eYDFU?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText #}
        {# circle image of event person #}
    </div>
    <div class="col-8 ml-2">
        {# name and pronouns of event person #}
        FirstName LastName (pro/nouns)
    </div>    
</div>
{% endblock content %}