{% load static i18n wagtailcore_tags %}
{# Load the tag library #}
{% load django_bootstrap5 %}

{% block content %}
<div class="col col-lg-3 col-md-4 col-sm-6 col-12">
    <div class="card text-align-left" style="width: auto">
        <div class="card-header">
            <h5 class="card-title">Card title</h5>
            <substitle>Event Date</substitle>
        </div>
        {# TODO: Add default image when no event image is selected #}
        <img src="https://images.unsplash.com/photo-1612299273045-362a39972259?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80" class="event-card-img" alt="person with brown skin and facial hair and locs wearing black tshirt sitting at table smiling at screen of mac with a white mug next to them">
        {# Photo by Good Faces on Unsplash #}
        {# https://unsplash.com/backgrounds/apps/zoom?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText #}
        <div class="card-body">
          {% include 'home/includes/event_categories.html' %}   
          <p class="card-text pt-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        {% include 'home/includes/event_team.html' %}
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-outline-secondary btn-sm">About</a>
            {% if cat == "upcoming" %}
            <a href="#" class="btn btn-outline-secondary btn-sm">Register</a>
            {% endif %}
        </div>
      </div>
</div>
{% endblock content %}