{% load static i18n wagtailcore_tags %}


{% block content %}
<div class="col">
    <div class="max-w-sm rounded overflow-hidden shadow-lg card">
        {# TODO: Add default image when no event image is selected #}
        {% if event.cover_image %}
        <img
          src="{{ event.cover_image.url }}"
          class="w-full"
          alt=""
        >
        {% else %}
        <img
          src="{% static 'img/main-white-purple-background.png' %}"
          class="w-full"
          alt="Djangonaut Space logo"
        >
        {% endif %}
        {% if event.cover_image_caption %}
        <p class="px-6 pt-2 text-sm text-gray-500">{{ event.cover_image_caption|urlize }}</p>
        {% endif %}
        <div class="px-6 py-4 card-body">
          <h5 class="font-bold text-xl mb-1 card-title">{{ event.title }}</h5>
          <h6 class="text-lg mb-2 card-subtitle">{{ event.start_time|date:"M d, Y" }}</h6>
        </div>
        <div class="px-6 py-3 mb-2 card-footer">
            <a href="{{ event.get_absolute_url }}" class="bg-purple-500 hover:bg-purple-400 no-underline text-white font-bold py-2 px-4 rounded">About</a>
        </div>
    </div>
</div>
{% endblock content %}
