{% load static i18n wagtailcore_tags %}
{# Load the tag library #}
{% load django_bootstrap5 %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/events.css' %}">
{% endblock extra_css %}

{% block content %}
<main class="main">

    <div class="container-lg">
        <h3># Upcoming Events</h3>
        <div class="g-2 g-lg-3 row row-cols-4 justify-content-evenly pt-4">
            {# for event in events_list where "upcoming" limit 6? #}
            {% include 'home/includes/event_card.html' with cat="upcoming" %}
            {% include 'home/includes/event_card.html' with cat="upcoming" %}
            {% include 'home/includes/event_card.html' with cat="upcoming" %}
            {% include 'home/includes/event_card.html' with cat="upcoming" %}
            {# if more events then, else # nothing #}

        </div>
        <div class="row text-center pt-4">
            <a class="col" href="{% url 'calendar' %}">view # upcoming event(s) on calendar >> </a>
        </div>
    </div>
</main>
{% endblock content %}
