{% block content %}
<div class="col col-lg-3 col-md-4 col-sm-6 col-12">
    <div class="max-w-sm rounded overflow-hidden shadow-lg card">
      <div class="px-6 py-4 card-body">
        <h5 class="font-bold text-xl mb-1 card-title">{{ session.title }}</h5>
        <p class="text-gray-700 text-base card-text">
          {{ session.description|linebreaksbr|urlizetrunc:25|truncatewords_html:60 }}
        </p>
        <br />
        <h6 class="text-lg">Applications Open</h6>
        <p>{{ session.application_start_date|date:"M d, Y" }}</p>
        <br />
        <h6 class="text-lg">Applications Close</h6>
        <p>{{ session.application_end_date|date:"M d, Y" }}</p>
        <br />
        <h6 class="text-lg">Starts</h6>
        <p>{{ session.start_date|date:"M d, Y" }}</p>
      </div>
      <div class="px-6 py-3 mb-2 card-footer">
        {% if session.is_accepting_applications %}
          {% if session.application_url %}
          <a href="{{ session.application_url }}" target="_blank" class="rounded-md bg-primary px-5 py-2.5 text-sm font-medium text-white transition hover:bg-gray-300 hover:text-ds-purple cursor-pointer">Apply</a>
          {% elif request.user.is_authenticated and not survey.completed_application and request.user.profile.email_confirmed %}
          <a href="{{ session.get_application_url }}" target="_blank" class="rounded-md bg-primary px-5 py-2.5 text-sm font-medium text-white transition hover:bg-gray-300 hover:text-ds-purple cursor-pointer">Apply</a>
          {% endif %}
        {% endif %}
        <a href="{{ session.get_absolute_url }}" class="card-link">Details</a>
      </div>
    </div>
</div>
{% endblock content %}
