{% if session.is_accepting_applications %}
  {% if session.application_url %}
  <a href="{{ session.application_url }}" target="_blank" class="rounded-md bg-primary px-5 py-2.5 text-sm font-medium text-white transition hover:bg-gray-300 hover:text-ds-purple cursor-pointer">Apply</a>
  {% elif request.user.is_authenticated and not session.completed_application and request.user.profile.email_confirmed %}
  <a href="{{ session.get_application_url }}" target="_blank" class="rounded-md bg-primary px-5 py-2.5 text-sm font-medium text-white transition hover:bg-gray-300 hover:text-ds-purple cursor-pointer">Apply</a>
  {% endif %}
{% endif %}
