{% load i18n static wagtailcore_tags wagtailuserbar wagtailimages_tags tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Djangonaut Space is a contributor mentorship program placing an emphasis on group-learning, sustainability and longevity.">
        <meta property="og:description" content="Djangonaut Space is a contributor mentorship program placing an emphasis on group-learning, sustainability and longevity.">
        <meta property="og:image" content="{% static 'img/main-white-purple-background.png' %}">
        <meta property="og:title" content="Djangonaut Space - Where contributors launch!">
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        {% block css %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Inter&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/extra-styles.css' %}">
        {# temporary cdn #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
        <link rel="stylesheet" href="{% static 'fontawesome-6.7.1/css/fontawesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesome-6.7.1/css/brands.min.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesome-6.7.1/css/solid.min.css' %}">
        {% tailwind_css %}

        <script defer data-domain="djangonaut.space" src="https://plausible.io/js/script.js"></script>
        {% endblock css %}
    </head>

    <body class=" justify-evenly md:justify-center {% block body_class %}{% endblock %}">
        {% if 'Home' not in page.title  %}
            {% include 'includes/breadcrumbs.html' %}
        {% endif %}
        <script src="https://unpkg.com/htmx.org@1.8.4"></script>
        {% wagtailuserbar %}
        {% block content %}
            {# other page stuff goes here #}
        {% endblock %}
        <div class="landing-page-overlay fixed bottom-0 left-0 w-100 h-[45%] z-[2] bg-[url('{% static 'img/background.svg' %}')] bg-no-repeat"></div>
        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/particles/particles.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/load_particles.js' %}"></script>
    </body>
</html>
