{% extends "base.html" %}
{% load i18n wagtailcore_tags static %}

{% block title %}{% translate "Logged out | Djangonaut Space" %}{% endblock %}
{% block meta_title %}{% translate "Logged out | Djangonaut Space" %}{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock extra_css %}

{% block content %}
<main class="section my-3 mx-5">
    <div class="section-container">
        <div class="row pt-4 pb-4">
            <div class="col">
                <p>{% translate "You've been logged out." %}</p>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
