{% extends "base.html" %}
{% load i18n wagtailcore_tags static %}

{% block title %}{% translate "Password reset confirmation | Djangonaut Space" %}{% endblock %}
{% block meta_title %}{% translate "Password reset confirmation | Djangonaut Space" %}{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock extra_css %}

{% block content %}
<main class="mx-auto max-w-3xl px-2 py-8 md:px-4">
    <div class="mb-10 text-center">
        <h1 class="text-5xl">{% translate "Reset password" %}</h1>
    </div>
        {% if validlink %}
        <!-- Box with shadow-->
        <div class="mb-4 md:mb-8 md:rounded-xl md:p-16 md:shadow-lg">
            <form method="post">
              {% csrf_token %}

              {{ form }}
              <button type="submit" class="mt-2 action-button">{% translate "Change password" %}</button>

            </form>
        </div>
        {% else %}
            <div class="mb-10 text-center">
        <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
            </div>
        {% endif %}
</main>
{% endblock content %}
