{% extends "base.html" %}
{% load i18n wagtailcore_tags static %}

{% block title %}{% translate "Password reset | Djangonaut Space" %}{% endblock %}
{% block meta_title %}{% translate "Password reset | Djangonaut Space" %}{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock extra_css %}

{% block content %}
    <main class="mx-auto max-w-xl px-2 py-8 md:px-4">
        <div class="mb-12 md:mb-6">
            <h1 class="mb-2 text-center text-4xl font-bold text-gray-800">{% translate "Reset password" %}</h1>
                <p class="text-lg text-gray-600">{% translate "Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one." %}</p>

        </div>

        <div class="mb-4 rounded-xl md:mb-8 md:p-10 md:shadow-lg">
            <form method="post">
                {% csrf_token %}
                <div class="mb-4">
                    {{ form }}
                </div>
                <button type="submit" class="mt-2 action-button">{% translate "Reset password" %}</button>
            </form>
        </div>
    </main>
{% endblock content %}
