{% extends "base.html" %}
{% load i18n wagtailcore_tags bootstrap3 static %}

{% block title %}{% translate "Password reset confirmation | Djangonaut Space" %}{% endblock %}
{% block meta_title %}{% translate "Password reset confirmation | Djangonaut Space" %}{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock extra_css %}

{% block content %}
<main class="section my-3 mx-5">
    <div class="section-container">
        <h1 class="text-5xl">{% translate "Reset password" %}</h1>
        {% if validlink %}
        {% include 'includes/no_field_errors.html' %}

        <div class="row pt-4 pb-4">
          <div class="col">
            <form method="post">
              {% csrf_token %}

              {% bootstrap_form form layout="horizontal" %}
              <button type="submit" class="bg-purple-500 hover:bg-purple-400 no-underline text-white font-bold py-2 px-4 rounded mt-2">{% translate "Change password" %}</button>

            </form>
          </div>
          <div class="col"></div>
        </div>
        {% else %}
        <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
