{% extends "base.html" %}
{% load i18n wagtailcore_tags static %}

{% block title %}{% translate "Password reset | Djangonaut Space" %}{% endblock %}
{% block meta_title %}{% translate "Password reset | Djangonaut Space" %}{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock extra_css %}

{% block content %}
<main class="section my-3 mx-5">
    <div class="section-container">
        <div class="row pt-4 pb-4">
          <div class="col">
            <p>{% translate "We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
            <p>{% translate "If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder." %}</p>
          </div>
        </div>
    </div>
</main>
{% endblock content %}
