{% extends "base.html" %}
{% load i18n wagtailcore_tags bootstrap3 static %}

{% block title %}{% translate "Password reset | Djangonaut Space" %}{% endblock %}
{% block meta_title %}{% translate "Password reset | Djangonaut Space" %}{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock extra_css %}

{% block content %}
<main class="section my-3 mx-5">
    <div class="section-container">
        <h1 class="text-5xl">{% translate "Reset password" %}</h1>
        <div class="row pt-4 pb-4">
          <div class="col">
            <p>{% translate "Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one." %}</p>
          </div>
        </div>
        {% include 'includes/no_field_errors.html' %}

        <div class="row">
          <div class="col">
            <form method="post">
              {% csrf_token %}
              {% bootstrap_form form layout="horizontal" %}
              <button type="submit" class="bg-purple-500 hover:bg-purple-400 no-underline text-white font-bold py-2 px-4 rounded mt-2">{% translate "Rest password" %}</button>
            </form>
          </div>
          <div class="col"></div>
        </div>
    </div>
</main>
{% endblock content %}
