{% extends "content_base.html" %}
{% load i18n static %}
{% load django_bootstrap5 %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block page_title %}
{% translate 'Password reset confirmation' %}
{% endblock %}

{% block main_content %}

{% if validlink %}

<p class="my-3">{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<div class="col-6">
    <form method="post">{% csrf_token %}
    <fieldset class="module aligned">
        <input class="hidden d-none" autocomplete="username" value="{{ form.user.get_username }}">
        <div class="form-row field-password1">
            {{ form.new_password1.errors }}

            {% bootstrap_field form.new_password1 %}
        </div>
        <div class="form-row field-password2">
            {{  form.new_password2.errors }}

            {% bootstrap_field form.new_password2 %}
        </div>
        <input class="bg-purple-500 hover:bg-purple-400 no-underline text-white font-bold py-2 px-4 rounded" type="submit" value="{% translate 'Change my password' %}">
    </fieldset>
    </form>
</div>
{% else %}

<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
