{% extends "content_base.html" %}
{% load i18n static %}
{% load django_bootstrap5 %}

{% block page_title %}
{% translate 'Password Reset' %}
{% endblock %}

{% block main_content %}

<p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email col-6">
        {{ form.email.errors }}

        {% bootstrap_field form.email %}
    </div>
    <input class="btn btn-primary my-3"  type="submit" value="{% translate 'Reset my password' %}">
</fieldset>
</form>

{% endblock %}
