{% extends "base.html" %}
{% load i18n wagtailcore_tags static %}




{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/indymeet.css' %}">
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}
<main class="section section-container">
        <img src="{% static 'img/temp_logo.png' %}" />

  <div class="row">
      <h1 class="my-3">Registration</h1>
  </div>
  {% if form.errors and not form.non_field_errors %}
  <div class=" alert alert-danger">
  {% for key, error in form.errors.items %}
  <p> {{ key }}:{{ error }}</p>
  {% endfor %}
  </div>
  {% endif %}

<div class="row">
  <div class="col">
    <form method="post">
      {% csrf_token %}

      {% bootstrap_form form layout="horizontal" %}
      <button type="submit" class="bg-purple-500 hover:bg-purple-400 no-underline text-white font-bold py-2 px-4 rounded">Submit</button>

    </form>
  </div>
  <div class="col"></div>
</div>



{% endblock content %}
