{% extends "base.html" %}
{% load i18n wagtailcore_tags static %}

{% block title %}{% translate "Registration | Djangonaut Space" %}{% endblock %}
{% block meta_title %}{% translate "Registration | Djangonaut Space" %}{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock extra_css %}

{% block content %}
<main class="mx-auto max-w-3xl px-2 py-8 md:px-4">
    <div class="mb-10 text-center">
        <h1 class="mb-2 text-5xl">{% translate "Registration" %}</h1>

            <p class="text-lg text-gray-600">{% translate "Sign up to keep up with all things Djangonaut Space!" %}</p>
        </div>

        <!-- Box with shadow-->
        <div class="mb-4 md:mb-8 md:rounded-xl md:p-16 md:shadow-lg">
            <form method="post">
              {% csrf_token %}

              {{ form }}
              <button type="submit" class="action-button">{% translate "Submit" %}</button>

            </form>
          </div>
</main>
{% endblock content %}
