{% extends "base.html" %}
{% load i18n wagtailcore_tags static %}

{% block title %}{% translate "Update Profile | Djangonaut Space" %}{% endblock %}
{% block meta_title %}{% translate "Update Profile | Djangonaut Space" %}{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock extra_css %}

{% block content %}
<main class="mx-auto max-w-3xl px-2 py-8 md:px-4">
    <div class="mb-12 md:mb-6">
        <h1 class="mb-6 text-center text-5xl">{% translate "Update Profile Info" %}</h1>
    </div>

        <!-- Box with shadow-->
        <div class="mb-4 md:mb-8 md:rounded-xl md:p-16 md:shadow-lg">
            <form method="post">
              {% csrf_token %}
              {{ form }}
              <button type="submit" class="mt-4 action-button">{% translate "Save" %}</button>
              <a class="cursor-pointer px-4 text-ds-purple hover:underline" href="{% url "profile" %}"> {% trans "Cancel" %}</a>
            </form>
          </div>
</main>
{% endblock content %}
