{% extends "base.html" %}
{% load i18n wagtailcore_tags static widget_tweaks %}

{% block title %}{% translate "Update Profile | Djangonaut Space" %}{% endblock %}
{% block meta_title %}{% translate "Update Profile | Djangonaut Space" %}{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock extra_css %}

{% block content %}
<main class="section my-3 mx-5">
    <div class="section-container">
        <h1 class="text-5xl mb-6">{% translate "Update Profile Info" %}</h1>

        <div class="row ">
          <div class="col">
            <form method="post">
              {% csrf_token %}

              {{ form }}

              <div class="flex gap-4 mt-6">
                <button type="submit" class="px-6 py-2 bg-ds-purple text-white rounded-md hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-ds-purple">{% translate "Save" %}</button>
                <a class="px-6 py-2 bg-gray-500 text-white rounded-md hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-400" href="{% url "profile" %}">{% translate "Cancel" %}</a>
              </div>
            </form>
          </div>
          <div class="col"></div>
        </div>
    </div>
</main>
{% endblock content %}
