Django==4.2.*
wagtail==5.0.*
django-storages
psycopg2-binary
django-anymail
six
django-recaptcha>=4
python-dotenv
puput
urllib3
django-extensions
django-debug-toolbar
typing-extensions
django-tailwind
sentry-sdk[django]
supervisor
django-widget-tweaks
dj-database-url
gunicorn
