Django==4.1.*
wagtail==5.0.*
django-storages
django-storages[azure]
psycopg2-binary
django-anymail
six
django-recaptcha
whitenoise
python-dotenv
puput
urllib3
django-extensions
django-debug-toolbar
typing-extensions
django-tailwind
django-bootstrap3
sentry-sdk[django]