{% extends "email/base.html" %}
{% load email_tags %}

{% block preheader %}You're invited: {{ event.title }}{% endblock preheader %}

{% block greeting %}
  <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">Hello 👋</p>
{% endblock greeting %}

{% block before_cta %}
  <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
    You are invited to join us for <strong>{{ event.title }}</strong> on <strong><a href="{{ event.start_time|time_is_link }}" style="color: #5c0287;">{{ event.start_time|date:"l, F j, Y" }}</a></strong> at <strong><a href="{{ event.start_time|time_is_link }}" style="color: #5c0287;">{{ event.start_time|date:"g:i A e" }}</a></strong>.
  </p>

  {% if event.description %}
  <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
    {{ event.description|linebreaksbr }}
  </p>
  {% endif %}

  <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
    {% if event.zoom_link %}<strong>Zoom:</strong> <a href="{{ event.zoom_link }}" style="color: #5c0287;">{{ event.zoom_link }}</a><br>{% endif %}
    <strong>Start:</strong> <a href="{{ event.start_time|time_is_link }}" style="color: #5c0287;">{{ event.start_time|date:"l, F j, Y g:i A e" }}</a><br>
    <strong>End:</strong> <a href="{{ event.end_time|time_is_link }}" style="color: #5c0287;">{{ event.end_time|date:"l, F j, Y g:i A e" }}</a>
  </p>

  <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 16px;">
    A calendar invite (.ics) is attached so you can add this event to your calendar.
  </p>
{% endblock before_cta %}

{% block cta_button_text %}View Event Details{% endblock cta_button_text %}

{% block after_cta %}
  <p style="font-family: Helvetica, sans-serif; font-size: 16px; font-weight: normal; margin: 0;">
    Thank you,<br>
    Djangonaut Space Organizers
  </p>
{% endblock after_cta %}
