.blog-container .article .social-share:after,
.blog-container .social-share-all:before
{
    display: none;
}

.blog-container .article .social-share li.social-item,
.blog-container .social-share-all li.social-item {
    background-color: var(--main-color);
}


.about .title-header a {
    font-size: 2.5rem;
}

.about .title-header a:hover {
    color: grey;
}

.about .title-section h2 {
    letter-spacing: 0.1rem;
    font-family: var(--font-family-sans-serif);
}

.blog-container h2.post_title {
    font-family: var(--font-family-sans-serif);
}

ul.sidebar h4, ul.sidebar h5 {
    font-family: var(--font-family-sans-serif);
}

ul.sidebar h4 {
    font-weight: 600;
}

/* ---------------------------------------------------------------------
 Blocks
----------------------------------------------------------------------*/

.block-paragraph {
    color: var(--dark);
    margin: 1em 0;
}

.block-html p {
    color: var(--dark);
    margin: 1em 0;
}

.block-left_quote_right_image blockquote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.block-left_quote_right_image img {
    border-radius: 50%;
    padding-right: 1rem;
}


.block-left_quote_right_image blockquote p {
    font-size: calc(var(--bs-body-font-size) * 1.5);
}

@media screen and (min-width: 768px){
    .block-left_quote_right_image blockquote {
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
}
