# This workflow will build and push a Python application to an Azure Web App when a commit is pushed to your default branch.
#
# This workflow assumes you have already created the target Azure App Service web app.
# For instructions see https://docs.microsoft.com/en-us/azure/app-service/quickstart-python?tabs=bash&pivots=python-framework-flask
#
# To configure this workflow:
#
# 1. Download the Publish Profile for your Azure Web App. You can download this file from the Overview page of your Web App in the Azure Portal.
#    For more information: https://docs.microsoft.com/en-us/azure/app-service/deploy-github-actions?tabs=applevel#generate-deployment-credentials
#
# 2. Create a secret in your repository named AZURE_WEBAPP_PUBLISH_PROFILE, paste the publish profile contents as the value of the secret.
#    For instructions on obtaining the publish profile see: https://docs.microsoft.com/azure/app-service/deploy-github-actions#configure-the-github-secret
#
# 3. Change the value for the AZURE_WEBAPP_NAME. Optionally, change the PYTHON_VERSION environment variables below.
#
# For more information on GitHub Actions for Azure: https://github.com/Azure/Actions
# For more information on the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# For more samples to get started with GitHub Action workflows to deploy to Azure: https://github.com/Azure/actions-workflow-samples

name: Staging build and deploy Python app to Azure Web App - djangonaut-space

env:
  AZURE_WEBAPP_NAME: staging-djangonaut-space  # set this to the name of your Azure Web App
  AZURE_WEBAPP_PACKAGE_PATH: '.'
  PYTHON_VERSION: '3.9'              # set this to the Python version to use

on:
  push:
    branches: [ "develop" ]
  workflow_dispatch:

jobs:
  build:
    env:
      ENVIRONMENT: 'production'
      DJANGO_SETTINGS_MODULE: 'indymeet.settings.production'
      APPINSIGHTS_INSTRUMENTATIONKEY: ${{ secrets.STAGING_APPINSIGHTS_INSTRUMENTATIONKEY }}
      APPLICATIONINSIGHTSAGENT_EXTENSION_ENABLED: 'true'
      DEBUG: 'True'
      HOST: ${{ secrets.HOST_ADDON }}
      PASSWORD: ${{ secrets.PASSWORD_ADDON }}
      RECAPTCHA_PRIVATE_KEY: ${{ secrets.RECAPTCHA_PRIVATE_KEY }}
      RECAPTCHA_PUBLIC_KEY: ${{ secrets.RECAPTCHA_PUBLIC_KEY }}
      SCM_DO_BUILD_DURING_DEPLOYMENT: 'true'
      SECRET_KEY: ${{ secrets.STAGING_SECRET_KEY }}
      USER: ${{ secrets.USER_ADDON }}
      WEBSITE_HTTPLOGGING_RETENTION_DAYS: '7'
    environment: staging-djangonaut-space
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python version
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt 
          echo ENV
          printenv -0

      # Optional: Add step to run tests here (PyTest, Django test suites, etc.)

      - name: Building web app
        uses: azure/appservice-build@v2
      - name: Deploy web App using GH Action azure/webapps-deploy
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.STAGING_AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
