---
name: 'Deploy Production'

on:
  push:
    branches:
      - main

# Only allow one deployment at a time. Cancel the others
# https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/control-the-concurrency-of-workflows-and-jobs
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Cloning repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Push to dokku
        uses: dokku/github-action@823c08b33e974704528c7c7f3d3d8002426e7634 # v1.9.0
        env:
          SSH_PRIVATE_KEY: ${{ secrets.DEPLOY_DOKKU_SSH_PRIVATE_KEY }}
        with:
          branch: main
          git_push_flags: '--force'
          git_remote_url: 'ssh://dokku@djangonaut.space:22/djangonaut-space'
          ssh_private_key: ${{ env.SSH_PRIVATE_KEY }}
