name: Run tests

on:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - main
      - develop

jobs:
  build:
    env:
      ENVIRONMENT: 'test'
      DJANGO_SETTINGS_MODULE: 'indymeet.settings.test'
      DATABASE_URL: "postgres://djangonaut:djangonaut@localhost:5432/djangonaut-space"
      DEBUG: False
      SECRET_KEY: "hunter2"
      RECAPTCHA_PUBLIC_KEY: "dummy_value"
      RECAPTCHA_PRIVATE_KEY: "dummy_value"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    services:
      pg:
        image: postgres:17
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: "djangonaut"
          POSTGRES_PASSWORD: "djangonaut"
          POSTGRES_DB: "djangonaut-space"
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Set up Python version
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install uv
        uses: astral-sh/setup-uv@d4b2f3b6ecc6e67c4457f6d3e41ec42d3d0fcb86 # v5

      - name: Install dependencies
        run: |
          uv sync --frozen --extra test
          uv run playwright install

      - name: Run tests
        run: uv run pytest

      - name: Run playwright tests
        run: uv run pytest -m playwright
