name: Run tests

on:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - main
      - develop

jobs:
  build:
    env:
      ENVIRONMENT: 'test'
      DJANGO_SETTINGS_MODULE: 'indymeet.settings.test'
      DATABASE_URL: "postgis://djangonaut:djangonaut@localhost:5432/djangonaut-space"
      DEBUG: False
      SECRET_KEY: "hunter2"
      RECAPTCHA_PUBLIC_KEY: "dummy_value"
      RECAPTCHA_PRIVATE_KEY: "dummy_value"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    services:
      pg:
        image: postgis/postgis:17-3.5
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: "djangonaut"
          POSTGRES_PASSWORD: "djangonaut"
          POSTGRES_DB: "djangonaut-space"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Set up Python version
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: '3.11'

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgdal-dev g++ gdal-bin libpq-dev

      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7

      - name: Install dependencies
        run: |
          uv sync --frozen --extra test
          uv run playwright install

      - name: Run tests
        run: uv run pytest --cov --cov-branch --cov-report=xml --cov-report=term

      - name: Run playwright tests
        run: uv run pytest --tracing retain-on-failure -m playwright --cov --cov-branch --cov-report=xml --cov-append --cov-report=term

      - name: Upload results to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de  # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        name: Upload playwright traces
        if: ${{ !cancelled() }}
        with:
          name: playwright-traces
          path: test-results/
