name: Run tests

on:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - main
      - develop

jobs:
  build:
    env:
      ENVIRONMENT: 'test'
      DJANGO_SETTINGS_MODULE: 'indymeet.settings.test'
      DATABASE_URL: "postgres://djangonaut:djangonaut@localhost:5432/djangonaut-space"
      DEBUG: False
      SECRET_KEY: "hunter2"
      RECAPTCHA_PUBLIC_KEY: "dummy_value"
      RECAPTCHA_PRIVATE_KEY: "dummy_value"
    runs-on: ubuntu-latest
    services:
      pg:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: "djangonaut"
          POSTGRES_PASSWORD: "djangonaut"
          POSTGRES_DB: "djangonaut-space"
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python version
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements/requirements-test.txt
          playwright install

      - name: Run tests
        run: pytest

      - name: Run playwright tests
        run: pytest -m playwright
